.nav{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
}
.navRight{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.navAll >div{
    padding: 15px;
    text-decoration: none;
    text-align: center;
}
.navAll a{
    margin: 15px;
    text-align: center;
}
.navLoginContainer input{
    border: none;
    width: 120px;
}
.navLoginContainer button{
    padding: 6px;
}
.navLoginContainer button:hover{
    background: blue;
}